.imagem-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-radius: 15px;
    width: 180px;
    height: auto;
}

.card-produto {
    background-color: #8888;
    color: black;
    box-shadow: 2px 2px 12px black;
}

.card-title {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

.card-text {
    color: white;
    text-shadow: 1px 1px 12px black;
}

.largura{
    width: 200px;
    height: auto;
}

.row{
    flex-wrap: nowrap;
    flex-direction: row;
}